<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header>
        <a href="index.html">Jamstack Fast Track</a>
        <nav>
            <a href="/" {% if page.url == '/'%} class="active" {% endif %}>Home</a>
            <a href="/about" {% if page.url == '/about/'%} class="active"  {% endif %}>About</a>
        </nav>
    </header>

    <main>
       {{ content }}
    </main>

    <footer>
        <p>Built by <a href="www.adamthewlis.com">Adam Thewlis</a></p>
    </footer>
</body>
</html>

